<div class="app-container">
  <mat-toolbar color="primary" fxLayoutGap="8px" class="app-toolbar mat-elevation-z8">
    <button routerLink="/home" mat-button class="nav-btn">
      <span class="mat-h3">Альтерком</span>
    </button>
    <button routerLink="/product" mat-button class="nav-btn">
      <span class="mat-h4">Программы 1С</span>
    </button>
    <button routerLink="/contact" mat-button class="nav-btn">
      <span class="mat-h4">Контакты</span>
    </button>
    <span class="flex-spacer"></span>
    <img src="../assets/1c_logo3.png" alt="">
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>
