<div class="app-container">
  <mat-toolbar color="primary" fxLayoutGap="8px" class="app-toolbar mat-elevation-z8">
    <button routerLink="/home" mat-button class="nav-btn">
      <span class="mat-h3">Альтерком</span>
    </button>
    <button routerLink="/product" mat-button class="nav-btn">
      <span class="mat-h4">Программы 1С</span>
    </button>
    <a href="https://1c-connect.com/download-desktop/" target="_blank"
      mat-raised-button color="accent"
      fxHide.lt-md
    >1C-Коннект</a>
    <a mat-raised-button color="default" href="/files/Альтерком.exe" target="_blank"
    >Всегда на связи</a>
    <span class="flex-spacer"></span>
    <img src="../assets/1c_logo3.png" alt="">
  </mat-toolbar>
  <article class="app-main-part">
    <router-outlet></router-outlet>
  </article>
  <app-footer></app-footer>
</div>
