<div fxLayout="column" fxLayoutAlign="center center" class="header-container">
  <div fxFlex="40" class="header-title" fxLayout="column">
    <span class="flex-spacer"></span>
    <span>Альтерком</span>
  </div>
  <div fxFlex="30" class="header-subtitle">
    Сопровождение 1С по схеме все включено
    <!--<br>c 2005 года-->
  </div>
  <div fxFlex="30">
    <a mat-raised-button class="header-button" routerLink="/request">Отправить заявку</a>
  </div>
</div>

<!--<mat-icon class="header-star">insert_emoticon</mat-icon>-->
<!--<mat-icon class="header-icon-top">change_history</mat-icon>
<mat-icon class="header-icon-bottom">change_history</mat-icon>-->

<section fxLayout="column">
  <div fxLayout="row" class="homepage-row" fxLayoutAlign="center start" fxLayoutGap="40px"
       fxLayout.lt-md="column" fxLayoutAlign.lt-md="start center">
    <div>
      <h2>Бухгалтерия</h2>
      <p>На этом направлении нам особенно удается работать с организациями бюджетной сферы.</p>
      <p>За счет своевременных обновлений мы поддержим ваши программы в актуальном состоянии
        с точки зрения технологий <a href="https://1c.ru/" target="_blank">фирмы 1С</a> и законодательства РФ.</p>
      <p>Мы стремимся не просто решать ваши проблемы в учете, но и обучаем ваших сотрудников
        как справиться с этими сложностями самостоятельно в будущем.</p>
      <p>Мы поможем вашим системным админи- страторам обеспечить максимальную производительность и бесперебойное функционирование ваших программ.</p>
    </div>
    <div>
      <h2>Разработка программ</h2>
      <p>При необходимости мы можем расширить типовой функционал программ под специфику вашей деятельности:
        добавить печатные формы, доработать отчеты, добавить новые учетные механизмы.</p>
      <p>И делаем это максимально бережно и эффективно.</p>
      <p>Наша команда непрерывно совершен- ствуется в создании программ любой степени сложности.</p>
      <p>Десятки сделанных нами программ помогают людям на протяжение многих лет.</p>
    </div>
    <div>
      <h2>Зарплата и кадры</h2>
      <p>Наши специалисты хранители большого количества секретов успешного расчета заработной платы и готовы с вами ими поделиться.</p>
      <p>Мы ориентированы на успешную сдачу отчетности вашей организацией.
        Опираясь на многолетний опыт, мы выстраиваем методику вашей работы с программой таким образом,
        чтобы вы сталкивались с минимальным количеством проблем.</p>
      <p>Благодаря технологиям удаленного доступа <a href="https://1c-connect.com/ru/" target="_blank">1С-Коннект</a>
        и <a href="https://www.teamviewer.com/ru/" target="_blank">Team Viewer</a>,
        мы всегда на связи, при этом готовы откликнуться достаточно оперативно и без ограничений по времени.</p>
    </div>
  </div>
  <div class="flex-spacer"></div>
</section>

